\MNIST_example\data\mnist
Slideshow/data/XY/X.pkl
Slideshow/data/XY/X_train.pkl
Slideshow/data/XY/X_validation.pkl
Slideshow/data/XY/Y.pkl
Slideshow/data/XY/Y_train.pkl
Slideshow/data/XY/Y_validation.pkl
